.exchangerForm__exchangeRate {
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    height: 70px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 109px;
    margin-right: -2px;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
}
.exchangerForm__amountExchangerate {
    border: 2px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 5px;
    height: 70px;
    vertical-align: middle;
    min-width: 100px;
    width: 40%;
    text-align: center;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
}