/* .summaryExchange {
    border: 2px solid black;
    border-radius: 20px;
    min-height: 70px;
    max-width: 600px;
    background: linear-gradient(0deg, rgb(65 255 186) 0%, rgb(91 116 255) 100%);
    vertical-align: middle;
    padding: 20px;
    display: flex;
    text-align: center;
    line-height: 1.5;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    opacity: 0;
    transition: opacity 2s;
}
.summaryExchange--visible{
    display: flex;
    opacity: 1;
    transition: opacity 2s;
} */
.summaryExchange {
    border: 0 solid black;
    border-radius: 20px;
    min-height: 70px;
    max-width: 600px;
    background: linear-gradient(0deg, rgb(65 255 186) 0%, rgb(91 116 255) 100%);
    vertical-align: middle;
    padding: 0;
    display: flex;
    text-align: center;
    line-height: 1.5;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 0;
    transition: all 1s;
}

.summaryExchange--visible {
    border: 2px solid black;
    min-height: 70px;
    padding: 20px;
    font-size: medium;
    transition: all 1s;
}